@import '../../../../colors.scss';

.controlComments {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
}
@media (min-width: 320px) {
  .controlComments {
    display: none;
  }
}
@media (min-width: 1024px) {
  .controlComments {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: $grey_99;
    &:hover,
    &:active,
    &:focus {
      fill: $orange;
    }
  }
  .controlComments > * {
    color: $grey_99;
  }
  .controlComments > *:not(:last-child) {
    margin-right: 4px;
  }
  .commentIcon {
    width: 15px;
    height: 15px;
    fill: $grey_99;
    &:hover,
    &:active,
    &:focus {
      fill: $orange;
    }
  }
}