@import '../../../colors.scss';

@media (min-width: 320px) {
  .avatar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .avatarIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 13px;
    border-radius: 50%;
    object-fit: 85%;
    border-radius: 50%;
    border: 1px solid transparent;
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $orange;
    }
  }
  .avatarName,
  .avatarAnonim {
    display: none;
  }
}
@media (min-width: 1024px) {
  .avatarIcon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 13px;
    border-radius: 50%;
    object-fit: cover;
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $orange;
      border-radius: 50%;
    }
  }
  .avatarName {
    display: inline;
    font-size: 20px;
  }
  .avatarAnonim {
    display: inline;
    font-size: 20px;
    color: $grey_c4;
  }
}