@media (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .header {
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}