@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'colors.scss';

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grey_f4;
  font-size: 14px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

* {
  color: $black;
  -webkit-font-smoothing: antialiasing;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $orange;
  cursor: pointer;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

