.hideIcon {
    display: inline-block;
    background-image: url('./Icons/hideIcon.svg');
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.complainIcon {
    display: inline-block;
    background-image: url('./Icons/complainIcon.svg');
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: cover;
}
.s10 {
    width: 10px;
    height: 10px;
    margin-right: 2px;
}
.s12 {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.s14 {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.s16 {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
@media all and (min-width: 320px) and (max-width: 1023px) {
    .m10 {
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }
    .m12 {
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }
}
@media all and (min-width: 1024px) {
    .d14 {
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
    .d16 {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
}